/* Стили для модалки */
.MuiPaper-root.MuiDialog-paper {
    padding: 50px;
    max-width: 95%;
    max-height: 95%;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
